---
import { ViewTransitions } from "astro:transitions";
import SEO from "components/atoms/seo/seo.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SEO />

    <ViewTransitions fallback="swap" />
  </head>
  <body>
    <slot />
  </body>
</html>
