---
import type { PropsButton } from "types/setup";
import { twMerge } from "tailwind-merge";
import { ThemeButton } from "constants/themes/ThemeButton";

type Props = PropsButton;

const { variant = "primary", size = "md", ...props } = Astro.props;

const classList = twMerge(
  ThemeButton.base,
  ThemeButton.variant[variant],
  ThemeButton.size[size],
  props.class,
);
console.log(classList);
---

<button class={classList} {...props}>
  <slot />
</button>

<script>
  console.log("test");
</script>
