---
import { ThemeButton } from "constants/themes/ThemeButton";
import { twMerge } from "tailwind-merge";
import type { PropsButtonLink } from "types/setup";

type Props = PropsButtonLink;

const { variant = "primary", size = "md", ...props } = Astro.props;

const classList = twMerge(
  ThemeButton.base,
  ThemeButton.variant[variant],
  ThemeButton.size[size],
  props.class,
);
---

<a class={classList} {...props}>
  <slot />
</a>
